section {
    text-align: center;
}

img {
    position: absolute;
    left: -100px;
    max-width: 500px;
    top: 101px;
    border-radius: 60%;
}
#numbers {
    position: absolute;
    left: 1000px;
    height: 455px;
    border-radius: 50%;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: #04c0b2;
    color: #fff;
    transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
    background-color: black;
}